#addEBookButton:hover{
    color: red;
}
.updateIcon{
    color: #6C7293;
    height: 22px;
    width: 22px;
}
.updateIcon:hover{
    color: red;
}
.search{
    justify-content: center;
    align-items: center;
}
#addEBookButton{
    height: 62px;
    margin-top: 0px !important;
}
#detailButton:hover{
    color: red;
}