<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary  rounded p-4">
        <div class="d-md-flex mb-4 ">
            <h4 class="me-4 my-auto">RESERVATIONS</h4>
        </div>
        <div class="table-responsive ">
            <table class="table text-start align-middle table-bordered table-hover mb-3 ">
                <thead>
                    <tr>
                        <th class="fs-5 text-white" scope="col">#</th>
                        <th class="fs-5 text-white" scope="col">Book</th>
                        <th class="fs-5 text-white" scope="col">Member Name</th>
                        <th class="fs-5 text-white" scope="col">Request Date</th>
                    </tr>
                </thead>
                <tbody *ngFor="let reserve of reservationList$ |async;index as i">
                    <tr>
                        <th scope="row">{{i+1}}</th>
                        <td>{{reserve.bookBookTitle}}</td>
                        <td>{{reserve.memberFirstName}} {{reserve.memberLastName}} </td>
                        <td>{{reserve.requestDate |date}}</td>
                    </tr>
                </tbody>
            </table>
            <app-pagination [data]="dataPagination"
            [searchExist]="searchExist"
            [searchInputValues]="searchReservationInputValues"
            [selectedSearchCategory]="searchSelectedCategory"           >
            </app-pagination>
        </div>
    </div>
</div>
<app-delete id="deleteModel"></app-delete>

