<div class="container-fluid col-md-8">
    <div class="bg-secondary rounded h-100 p-4">
        <h4 class="mb-4">Update Magazine</h4>
        <div class="container-fluid" >
            <form class="container-fluid" [formGroup]="updateEBookForm" (ngSubmit)="UpdateEBookSubmit(updateEBookForm.value)">
                <div class="form-floating mb-3">
                    <myinput 
                   labelText="ISBN Code" 
                   labelId="isbnCode" 
                   controlName="isbnCode" />
               </div>
               <div class="form-floating mb-3">
                   <myinput 
                   labelText="Book Title" 
                   labelId="bookTitle"
                   controlName="eBookTitle"/>
               </div>
               <div class="form-floating mb-3">
                   <myinput 
                   labelText="Author Name" 
                   labelId="authorName"
                   controlName="authorName"/>
               </div>
               <div class="mb-3">
                   <div class="d-md-flex align-items-center">
                       <h6 class="me-3">IMAGE</h6>
                       <input class="form-control bg-dark image" type="file" id="ImageFile" accept=".jpg,.jpeg,.png" 
                       (change)="uploadImage($event)">
                   </div>
               </div>
               <div class="mb-3">
                   <div class="d-md-flex align-items-center">
                       <h6 class="me-3">PDF</h6>
                       <input class="form-control bg-dark image ms-3" type="file" id="formFile" accept=".pdf" 
                       (change)="uploadPDF($event)">
                   </div>
               </div>
               <div class="form-floating mb-3">
                   <myinput 
                   labelText="Release Date" 
                   labelId="releaseDate"
                   controlName="releaseDate"/>
               </div>
               <div class="form-floating mb-3">
                   <myinput 
                   labelText="Page Count" 
                   labelId="pageCount"
                   controlName="pageCount"/>
               </div>
                <!-- Category Search -->
               <div class="category">
                <span class="d-inline-block mb-3 me-3" tabindex="0" data-bs-toggle="tooltip" 
                title="Search Directive = 1 Choose category 2 Write word in search input 3 Click button">
                    <button class="btn btn-danger" aria-label="Search" id="SearchInstruction" type="button" disabled>
                     <i class="bi bi-patch-question-fill"></i></button>
                </span>
                <span class="d-inline-block mb-3" tabindex="0" data-bs-toggle="tooltip" 
                title="If you want to update category, you can search.">
                    <button class="btn btn-danger" aria-label="Search" id="SearchInstruction" type="button" disabled>
                        <i class="bi bi-exclamation-octagon-fill"></i></button>
                </span>
 
                <div class="form-floating mb-3 container ps-0">
                 <div class="row pe-0">
                     <div class="col-md-3 my-auto me-0 pe-0">
                       <h6 class="me-0">Current Category :</h6>
                     </div>
                     <div class="col-md-9 pe-0 ps-0">
                         <div class="form-floating ">
                             <input type="string" class="form-control" id="disableInput" 
                             value="{{eBook.categoryName}}" disabled>
                         </div>                       
                     </div>
                 </div>
                 </div>
                <app-search 
                [searchCategoryList]="searchCategoryType"
                [searchInputValues]="searchCategorieInputValues"
                [searchController]="searchCategoryController"
                (searchList)="searchCategoryList($event)"
                [existSearch]="searchPagination">
                </app-search>
                <div class="form-floating mb-3 mt-3">
                    <select class="form-select form-select-lg  me-2" id="CategoryData" aria-label=".form-select-lg example"
                    formControlName="categoryId">
                        <option  id="selectedCategory"  *ngFor="let Category of CategorySearchList"
                        [value]="Category.id"
                          >{{Category.name }} 
                        </option>
                    </select>
                </div>
               </div>
                <button type="submit"  class="btn btn-dark py-3 w-100 mb-4">Update Magazine</button>
            </form>
        </div>
    </div>
</div>


