.addMaterial{
    border-style: solid ;
    // border-color: rgb(60, 60, 224);
    border-color: #cd5555;
}
.exampleFormControlInput1::placeholder{
    // color: #6C7293;
    color: red;

}
.form-floating > .form-select {
    padding-bottom: 0rem;
}