#addEBookButton:hover{
    color: red;
}
.updateIcon{
    color: #6C7293;
    height: 22px;
    width: 22px;
}
.updateIcon:hover{
    color: red;
}
.search{
    justify-content: center;
    align-items: center;
}
#addEBookButton{
    height: 62px;
    margin-top: 0px !important;
}
.pdfIcon,.bi-filetype-pdf{
    color: #6C7293;
    width: 30px;
    height: 30px;
}
.bi-filetype-pdf:hover{
    color: red;
}

