#searchlocationInput{
    width: 300px;
    height: 40px;
}
#addlocationButton:hover{
    color: #6C7293;
}
#searchlocationButton:hover{
    color: #6C7293;
}
.updateIcon{
    color: #6C7293;
    height: 22px;
    width: 22px;
}
.updateIcon:hover{
    color: red;
}
#addEBookButton:hover{
    color: red;
}
#addEBookButton{
    height: 62px;
    margin-top: 0px !important;
}