<div class="col-sm-12 ">
    <div class="bg-secondary rounded h-100 p-4">
        <div class="d-sm-flex justify-content-sm-center">
            <button type="button" routerLink="/admin/all-materials/e-book" routerLinkActive="active" 
            class="btn btn-dark m-2" id="EbookButton">E-Books</button>
            <button type="button" routerLink="/admin/all-materials/magazine" routerLinkActive="active" 
            class="btn btn-dark m-2" id="MagazineButton">Magazines</button>
            <button type="button" routerLink="/admin/all-materials/material" routerLinkActive="active" 
            class="btn btn-dark m-2" id="MetarialButton">Materials</button>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>




