<div class="container-fluid col-md-8">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">New Author</h6>
        <div class="container-fluid">
            <form class="container-fluid" [formGroup]="addAuthorForm" (ngSubmit)="addAuthorSubmit(addAuthorForm.value)">
                <div class="form-floating mb-3">
                     <myinput 
                    labelText="First Name" 
                    labelId="firstName" 
                    controlName="firstName" />
                </div>
                <div class="form-floating mb-3">
                    <myinput 
                    labelText="Last Name" 
                    labelId="lastName"
                    controlName="lastName"/>
                </div>
                <button type="submit"  class="btn btn-dark py-3 w-100 mb-4">Add Author</button>
            </form>
        </div>
    </div>
</div>
