
<div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <!-- <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> -->
        <!-- Spinner End -->


        <!-- Sign Up Start -->
        <div class="container-fluid">
            <form [formGroup]="Loginform" (ngSubmit)="LoginSubmit(Loginform.value)">
                <div class="row h-100 align-items-center justify-content-center form" >
                    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                        <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3" >
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                    <h3 class="text-primary">
                                        <i class="bi bi-book-fill me-2">
                                        </i>Book
                                    </h3>
                                <h3>Login</h3>
                            </div>
                            <div class="form-floating mb-3">
                                <myinput 
                                labelText="Email" 
                                labelId="floatingInput" 
                                inputType="email" 
                                controlName="email" />
                            </div>
                            <div class="form-floating mb-3">
                                <myinput 
                                labelText="Password" 
                                labelId="floatingPassword" 
                                inputType="Password" 
                                controlName="password"/>
                            </div>
                            <button type="submit"  class="btn btn-primary py-3 w-100 mb-4 mt-3">Sign Up</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <!-- Sign Up End -->
</div>

